.cardContainer {
  display: flex;
  background-color: rgba(107, 196, 223, 0.54);
  flex-direction: column;
  border-radius: 1rem;
  width: 15%;
  height: 35%;
  padding: 1rem;
  margin: 1rem 0.5rem;
  flex-wrap: wrap;
}
.img {
  display: flex;
  width: 120px;
  height: 80px;
  align-items: center;
  margin: 0.5rem auto;
  padding: 0.5rem;
  transition: transform 0.2s;
}
.h4 {
  text-align: center;
  font-size: 0.8rem;
  color: rgb(68, 8, 8);
}

.link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  font-weight: 800;
  text-decoration: none;
  text-align: center;
  color: crimson;
}
.link:hover {
  color: yellowgreen;
}
.inner {
  display: flex;
  justify-content: space-between;
}

.dbCard {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  align-items: center;
  text-decoration: none;
  background-color: lightseagreen;
  margin: 0;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
}
.apiCard {
  justify-content: space-around;
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  text-decoration: none;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
}
